root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
indent_style = space
max_line_length = 140

# Disable property-naming rule for Gradle build scripts where snake_case is conventional
[*.gradle.kts]
ktlint_standard_property-naming = disabled

# Allow wildcard imports which are idiomatic in Ktor applications
[*.kt]
ktlint_standard_no-wildcard-imports = disabled
